@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Bhai 2", sans-serif;
}
.cont{
    display: flex;
    height: 100vh;
    width: 100vw;
}
.rt{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://img.freepik.com/free-photo/abstract-textured-backgound_1258-30461.jpg?semt=ais_hybrid');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.lft{
    width: 45%;
    height: 100%;
    background-image: url('../assets/front-page-img.png');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.wrapper {
  width: 26rem;
  padding: 2.2rem;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 2.3rem;
  margin-bottom: 20px;
  color:whitesmoke;
}

.input-field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 0.9rem 0;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  pointer-events: none;
  transition: 0.15s ease;
}

.input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
}

.input-field input:focus~label,
.input-field input:valid~label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}

.forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.8rem 0 2.3rem 0;
  color: #fff;
}

#remember {
  accent-color: #fff;
}

.forget label {
  display: flex;
  align-items: center;
}

.forget label p {
  margin-left: 0.6rem;
}

.wrapper a {
  color: #efefef;
  text-decoration: none;
}

.wrapper a:hover {
  text-decoration: underline;
}

button {
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  border-radius: 3px;
    font-size: 1.15rem;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

button:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}

.register {
  text-align: center;
  margin-top: 2.1rem;
  color: #fff;
}

@media (max-width:700px){
    .lft{
        width: 0%;
        background: none;
    }
    .rt{
        width: 100%;
    }
}
