@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Bangers&family=Hanalei+Fill&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lavishly+Yours&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    /*fixed a bug*/
    z-index:2;
    position:sticky;
    top:0;
}
.nav-cont{
    width: 100vw;
    height: auto;
    background-color: white;
}
.nav{
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 86vw;
    margin: auto;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    column-gap: 2.1rem;
}
.tabsandlogo{
    display: flex;
    column-gap: 2.2rem;
}
.logo{
    font-family: "Poppins",sans-serif;
    font-size: 1.5em;
    font-weight: 900;
}
.tabs{
    list-style: none;
    font-family: "Poppins",sans-serif;
    display: flex;
    column-gap: 1.25rem;
}
.tab{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    color: #666;
    cursor: pointer;
}
.searchandicons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
    flex: 1;
}
.search{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.search-icon{
    position: absolute;
    left: 0.8rem;
}
#searchbar{
    border: none;
    border-radius: 6rem;
    outline: none;
    padding: 0.7rem 3rem;
    width: 100%;
    background-color: #f0f0f0;
}
#searchbar::placeholder{
    font-family: "Baloo Bhai",sans-serif;
    color: grey;
}
.icons{
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
}
.icons *{
    cursor: pointer;
}
@media (max-width:900px){
    .nav{
        flex-direction: column;
    }
    .tabsandlogo{
        justify-content: space-between;
    }
}
@media (max-width:600px){
    .tab{
        font-size: 0.8rem;
    }
}
@media (max-width:500px){
    .tab{
        font-size: 0.61rem;
    }
    .logo{
        font-size: 1em;
    }
}
