@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.main {
    
    display: flex;
    width: 67%;
    margin: 3rem auto 2rem auto; 
    
}

.right {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 5;
    border: 1rem;   
}

.left {
    width: 50%;
    height: auto;
    margin-right: 1rem;
    background-color: rgba(0, 0, 0,0.05 );
    border-radius: 2rem;
}

.left img {
    width: 100%;
    height: 100%;
}
.product_name {
    top: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 1000;
    margin-bottom: 1rem;
   
}
.checked {
  color: orange;
}
.star_rating {
    
    margin-bottom: 1rem;
}
.prize {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.description {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0,0.2 );
    margin-bottom: 0.7rem;
}
.tags{
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.4rem;
    border-radius: 1rem;
    border-color: rgba(0, 0, 0,0.05 );
     margin-bottom: 1rem;
}
.cart button{
    width: 10rem;
    margin-top: 0.5rem;
    border-radius: 1rem;
    padding: .3em;
    height: 2.5rem;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;

}
.main2{
   
    margin: auto;
    width: 67%;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
.details{
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
    width: 30%;
}
.odd{
    color: rgba(0, 0, 0,0.7 );
    font-family: poppins,serif;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.6rem;
}
.even{
    color: rgba(0, 0, 0 );
    font-family: poppins,serif;
    font-weight: 500;
    font-size: 0.8rem;
    padding: 0.4rem;
}
.info{
    padding: 0.6rem;
    font-family: poppins,serif;
    font-weight: 600;
}
.finer-details{
    margin-bottom: 0.5rem;        }
.button1:hover {
    background-color: rgba(0, 0, 0,0.9 );
}
.tags:hover{
    background-color: rgba(0, 0, 0,0.2 );
}
button{
    cursor:pointer;
}


/* Responsive Design */
@media (max-width: 1024px) {
    .main {
        width: 80%;
        margin: 20px auto;
    }
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        margin: 15px auto;
    }
    .main2{
        width: 90%;
        flex-direction: column;
        justify-content: flex-start;
       
    }
    .details{
    width: 90%;
    
    }
   

    .left, .right {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .main {
        width: 95%;
        margin: 10px auto;
    }
}
